.teacher-title{
    height: 100px;
    width: 100%;
    background-color: #2185d0;
    position: relative;
}

.teacher-title h1{
    color: white;
    font-weight: 500;
    font-size: 50px;
    text-decoration: black;
    text-shadow: 1px 1px black;
}

.container-teacher{
    background-color: #f3f3f3;
    border-top: 5px solid #2185d0;
}

.testimonial-group .row {
    overflow-x: auto;
    white-space: nowrap;
    display: block !important;
}

.testimonial-group .row .col-lg-3,
.testimonial-group .row .col-md-4,
.testimonial-group .row .col-sm-6,
.testimonial-group .row .col-xs-6 {
    display: inline-block;
    float: none;
    word-wrap: break-word;
}

.title-published{
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .btn-create{
        margin-top: 12px;
        margin-bottom: 12px;
        align-self: center;
    }
}