.live-image{
    width: 200px;
    height: 200px;
}

.live-description p{
    color: gray;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.live-container span{
    color: gray;
    font-size: 15px;
}

.live-container a{
  color: #005385;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.live-container a:hover{
  color: #026bab;
}

.video-live{
    width: 100%;
    height: calc(100vh - 225px);
    border-bottom: 5px solid #005385;
}
