.container-subject{
    background-color: white;
    border-top: 5px solid;
}

.card-content-course {
    border: 1px solid #c5c5c5 !important;
}

.card-content-course:hover{
    border: 1px solid #c5c5c5 !important;
}

.card-header{
    background-color: #c5c5c5;
    cursor: pointer;
    color:black;
    font-weight: bold;
    font-size: 20px;
}

.card-header:hover{
    background-color: #c5c5c5;
}

.create-form{
    background-color: white;
    border-top: 5px #28a745 solid;
}

.border-subject {
    border-color: #d2d2d2;
}