.container-subject{
    background-color: white;
    border-top: 5px solid;
}

.card {
    border: 1px solid #d2d2d2 !important;
}

.card-header{
    background-color: #d2d2d2;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: white;
    text-shadow: 1px 1px white;
}

.create-form{
    background-color: white;
    border-top: 5px #28a745 solid;
}