.main-container{
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    margin-bottom: 3rem!important;
}

@media screen and (max-width: 991px) {
    .main-container{
        min-height: calc(100vh - 150px);
        margin-top: 150px;
    }    
}