.error-image{
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.error-col{
    margin: 0 auto!important;
    top: auto !important;
    left: auto !important;
    transform-origin: center !important;
}

.error-col i{
    color:#005385;
    font-size: 200px;
    font-weight: bold;
}

.error-col h1{
    color: gray;
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.error-col h4{
    color: gray;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.error-col span{
    color: #005385;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.error-col h2{
    color: gray;
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
}

.error-col p{
    font-size: 20px;
    color: gray;
    font-style: italic;
}

.home-icon i{
    color:#005385;
    font-size: 40px;
    font-weight: bold;
}

.home-icon i:hover{
  color:#0d6da7;
}

@media screen and (max-width: 991px) {
  .error-image{
    width: 130px;
    height: 130px;
  }

  .error-col h1{
    font-size: 25px;
  }
}
