.nav{
    min-height: 80px;
    background: #fff;
}

.logo h2,
.logo span,
.logo p{
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

.logo h2{
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}

.logo .icono{
    color: #bfbfbf;
}

.logo p{
    color: #777777;
}

.menu{
    padding: 0;
}

.menu a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
}

.menu a div a{
    display: block;
    text-decoration: none;
    padding: 0 30px;
}

.menu a div span {
    font-weight: 600;
    font-size: 17px;
}

.menu .c-1{
    background: #30b3ff;
}

.menu .c-2{
    background: #005385;
}

.menu .c-3{
    background:#e6e6e6;
    border-top: 1px solid;
    border-top-color: #cecece;
}

.menu .c-1:hover {
    background: #00a1ff;
}

.menu .c-2:hover {
    background: #00426a;
}

.menu .c-3:hover {
    background:#d2d2d2;
}

.menu-principal{
    padding-bottom: 10px;
    padding-left: 0;
    width: 30%;
    position: fixed;
    background-color:rgba(0,0,0,.85);
    z-index:10000;
    top:0;
    right:0;
    height: 100vh;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
    transition: all .3s ease;
    overflow-y: auto;
}

.menu-principal.active{
    transform: translateX(0%);
}

.menu-principal nav{
    padding-bottom: 20px;
}

.header-prueba{
  cursor: pointer;
}

.menu-principal nav a{
    display: block;
    padding: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
}


.menu-principal nav a:hover{
    color: #3d3c3c;
    background: white;
    text-decoration: none;
}


.menu-principal i,
.live-item{
    margin-right: 15px;
}

.fondo-enlace{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    right:0;
    cursor: pointer;
    background: rgba(0,0,0,.5);
    z-index: 9999;
    display: none;
}

.fondo-enlace.active{
    display: block;
    padding:0;
    margin: 0;
}

.menu-dropdown-icon{
  margin-left: 7px;
  color: gray;
  font-size: 17px;
}

.div-image-menu{
    position: relative;
}

.arrow-menu{
    margin-top: 22px;
}

@media screen and (max-width: 1199px){}

@media screen and (max-width: 991px) {
    .logo {
        height: 76px;
    }

    .menu {
        min-height: 76px;
    }

    .menu a {
        width: 100%;
    }

    .menu a div {
        width: 100%;
    }

    .menu-principal{
        width: 40%;
    }
}

@media screen and (max-width: 575px){
    header {
        margin-top: 0;
        text-align: center;
    }

    header .logo h2{
        font-size: 12px;
    }

    .menu a div {
        padding: 6px;
    }

    .menu-principal{
        width: 50%;
    }
}
