.container-result{
    background-color: white;
    border-top: 5px solid;
    border-top-color: #005385;
    height: auto;
}

.container-result h1{
    font-weight: bold;
}

.container-result h5{
    font-style: italic;
    color:gray;
}

.color-icon-bad{
    color:#dc3545;
    font-size: 120px;
}

.color-icon-good{
    color: #379a70;
    font-size: 120px;
}