.container-subject-player{
    height: calc(100vh - 340px);
    background-color: #eaeaea;
    overflow-y: auto;
    border-bottom: 3px solid #005385;
    border-right: 1px solid #bcbdbd;
    border-left: 1px solid #bcbdbd;
}

.card-header-player{
    font-size: 15px !important;
    position: relative;
}

.icon-change{
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 20px;
}

.container-subject-header{
    height: 55px;
    width: 100%;
    background-color: white;
    border-top: 3px solid #005385;
}

.container-subject-header h5{
    color: black;
    font-size: 17px;
    font-style: normal;
}

.selected-content{
    background-color: #e6f2f5;
}

.selected-content:hover{
    background-color: #dceef3 !important;
}

.selected-icon{
    color:#005385cf !important;
}

.container-current-player{
    height: calc(100vh - 285px);
    width: 100%;
    background-color:#282828;
    position: relative;
    border-bottom: 3px solid #005385;
}

.container-current-player h1{
    color: white;
    top: 0px;
    position: absolute;
}

.col-current{
    padding-right: 0px;
}

.icon-success{
    font-size: 21px;
}

.col-subject{
    padding-left: 0px;
}

.container-player-content:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}

.container-player-content h5{
    font-size: 15px;
}

.container-player-content i,
.container-player-content p{
    color:gray;
}

.container-player-content p{
    font-style: italic;
    font-size: 13px;
}

.icon-check{
    color:#005385 !important;
}

.icon-uncheck,
.icon-check{
  font-size: 18px;
}

.container-course-player{
    background-color: white;
}

.container-course-player h6{
    font-size: 15px;
    color:black;
}

.course-img-container{
    padding-right: 0px;
}

.container-course-player span{
    font-style: italic;
}

.container-course-player h4{
    font-weight: bold;
}

.input-stars{
    display: none;
}

.detail-course-player p{
    color:gray;
    font-style: italic;
    font-size: 13px;
}

.star{
    cursor: pointer;
    transition: 200ms;
}

.detail-course-player{
    border-bottom: 1px solid #e5e5e5;
}

.container-stars{
    margin-top: -5px;
}

.info-course-player h2{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

.img-course-player{
    height: 120px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

.text-contact-teacher{
    font-weight: 400 !important;
}

.text-isEnd{
    font-style: normal !important;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .container-subject-player{
        height: 144px;
    }

    .course-img-container{
        padding-right: 15px;
    }

    .img-course-player{
        height: 220px;
    }

    .col-current{
        padding-right: 15px !important;
    }
    
    .col-subject{
        padding-left: 15px !important;
    }
}